# Logs
logs
*.log
.DS_Store


# Dependency directories
node_modules/
package-lock.json


# Compiled
build/Release


#No setting BD for now
/Users/alevirodriguez/Documents/www/panel-admin-nodejs/src/DB/mysql.js